{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/ajout-utilisateur.css') }}">
{% endblock %}

{% block body %}

<h1>Ajout d'utilisateur</h1>


<fieldset>
    <legend class="titreField">Importer des utilisateurs depuis un fichier csv</legend>
    {{ form_start(csvForm) }}
        {{ form_widget(csvForm) }}
         <button type="submit" class="btn">Envoyer</button>

            {% if newUser > 0  or updateUser > 0 %}
                <div>
                    <p>Utilisateurs ajoutés: {{ newUser }}</p>
                    <p>Utilisateurs mis à jours: {{ updateUser }}</P>
                </div>
            {% endif %}
    {{ form_end(csvForm) }}
    

</fieldset>

<fieldset>
    <legend>Enregistrer un utilisateur</legend>

        {{ form_start(registerForm) }}
            {{ form_widget(registerForm) }}
            <button type="submit" class="btn">Envoyer</button>
        {{ form_end(registerForm) }}
</fieldset>

{% endblock %}