{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajout d'utilisateur</h1>


<div>
    <h2>Importer des utilisateurs depuis un fichier csv</h2>
    {{ form_start(csvForm) }}
        {{ form_widget(csvForm) }}
    {{ form_end(csvForm) }}
    
    {% if newUser > 0  or updateUser > 0 %}
    <div>
        <p>Utilisateurs ajoutés: {{ newUser }}</p>
        <p>Utilisateurs mise à jours: {{ updateUser }}</P>
    </div>
    {% endif %}
</div>

{% endblock %}