<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('global.css') }}">
    </head>
    <body>
        {% block delheader %}
            <header class="space-between">
                <a href="{{ path('main_accueil') }}"><div class="logo"><img src="{{ asset('img/logoAnim1.gif') }}" class="logo-display" width="200px"></div></a>
                <nav>
                    <ul class="row">
                        {% if app.user %}
                            {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="" title="modifier supprimer ajouter une ou des villes"> Villes </a></li>
                        <li><a href="" title="modifier supprimer ajouter une ou des campus"> Campus </a></li>
                            {% endif %}
                        <li><a href="{{ path('main_accueil') }}" title="accéder a la page d'accueil du site"> Accueil </a></li>
                        <li><a href="" title="modifier mon profile"> Mon profil </a></li>
                        <li><a href="{{ path('app_logout') }}" title="Se déconnecter"> Se déconnecter </a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>
